.tab {
    max-width: 1000px;
    width: 100%;
    display: flex;
  justify-content: center;
}

.tab .tab-headers {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #bbb;
}

.tab .tab-headers .tab-header {
    position: relative;
    padding: 0px 20px;
    height: 60px;
    line-height: 50px;
    z-index: 2;
    cursor: pointer;
    color: #222;
    font-weight: 600;
    font-size: 21px;
}

.tab .tab-headers .tab-header:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 25px;
    height: 5px;
    background: #2e2929;
    border-radius: 10px;
}

.tab .tab-headers .tab-header.active {
    color: #4439f1;
    border: 1px solid #bbb;
    border-bottom:  none;
    box-shadow: 0px 1px 0px #fff;
}

.tab .tab-headers .tab-header.active {
    color: #4439f1;
}


.tab .tab-body {
    padding: 30px 40px;
    position: absolute;
    top: 50px;
    left: 20px;
    @media screen and (max-width: 640px) {
        display: block;
        left: 0px;
     }
}

.tab .tab-body > h2 {
    margin-top: 30px;
    color: #222;
    margin-bottom: 15px;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    @media screen and (max-width: 640px) {
        margin-top: 150px;
        
    }
}

.tab .tab-body > p {
    color: #555;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 23px;
    text-align: justify;
    
}
